/*///////////////////// Search form///////////////////// */
.search__form {
  margin-bottom: 23rem;
}
.search__form.append {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search__form-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  width: 60rem;
  font-family: "Helvetica";
  border: 1px solid #e2e2e2;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 10px;
}
.form-inline {
  margin-top: 1rem;
  align-items: stretch;
  justify-content: stretch;
}
.form-inline .form-control {
  flex: 0 1 80%;
}
.form-inline button {
  margin-left: 1rem;
  flex: 0 1 18%;
  font-size: 1.6rem;
  border-radius: 0px;
}
.search__form-inner .input-group__input {
  border: 0px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 15%);
  outline: none;
  display: flex;
  flex-direction: row;
  flex: 0 1 33%;
}
.search__form-inner.animation {
  animation: moveInBottom 1s;
}
@media (max-width: 768px) {
  .search__form-inner {
    width: 40rem;
    height: 40rem;
  }
  .form-inline .form-control {
    flex: 0 1 75%;
    margin-left: 0.5rem;
  }
  .form-inline button {
    margin-left: 1rem;
    flex: 0 1 20%;
    font-size: 1.6rem;
    border-radius: 0px;
  }
}
@media (max-width: 576px) {
  .search__form-inner {
    width: 30rem;
    height: 35rem;
    padding: 3rem !important;
  }
  .form-inline .form-control {
    flex: 0 1 100%;
    margin-left: 0rem;
  }
  .form-inline button {
    margin-left: 0rem;
    margin-top: 1.5rem !important;
    flex: 0 1 100%;
    font-size: 1.6rem;
    border-radius: 0px;
  }
}
.search__form-inner h1 {
  color: var(--dark);
  margin: 2rem auto;
  margin-bottom: 1rem;
}
.search__form-inner p {
  color: var(--gray);
  font-size: 2.4em;
  margin: 2rem auto;
  /* margin-bottom: 2rem; */
}
.search__form-inner .input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__form-inner .input-group-prepend {
  flex: 0 1 33%;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  border: 0.5 solid #fefefe;
}
.search__form-inner .input-group-prepend button,
.dropdown-menu {
  font-size: 1.6rem;
  border-color: #dbdbdb;
}
.search__form-inner .input-group__input .form-control {
  border: 0.5px solid #ffffff;
  outline: none;
}
.search__form-inner .input-group__input .form-control:focus {
  border: 0px;
  border-color: transparent;
  box-shadow: 0px 5px 16px rgb(0 0 0 / 15%);
}

@media (max-width: 768px) {
  .search__form-inner .input-group-prepend button,
  .dropdown-menu {
    font-size: 1.4rem;
    border-color: #dbdbdb;
  }
}
@media (max-width: 576px) {
  .search__form-inner .input-group {
    display: flex;
    flex-direction: column;
  }
  .search__form-inner .input-group-prepend button {
    flex: 0 1 100%;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}
