/* //////SIDE BAR /////////*/
.sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  padding: 1rem;
  height: 0%;
  width: 0rem;
  background: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
  font-family: "Helvetica";
}
.sidebar.active {
  width: 26rem;
  height: 100%;
}
@media (max-width: 991px) {
  .sidebar {
    background: transparent;
  }
  .sidebar.active {
    width: 26rem;
    height: 100%;
    background: white;
  }
}
.sidebar .logo_content .logo {
  color: #1e4b6c;
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  opacity: 0;
}
.sidebar .logo_content .logo img {
  margin-right: 1rem;
}
@media (max-width: 576px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0%;
    height: 0%;
    width: 0rem;
    margin-top: 0rem;
    transition: all 0.3s ease;
    background: transparent;
  }
  .sidebar.active {
    width: 26rem;
    height: 100%;
    padding: 1rem;
    background: #fff;
  }
  .sidebar .logo_content {
    margin-top: 3.5rem;
  }
  .sidebar .logo_content .logo {
    margin-top: -1.1rem;
  }
}
.sidebar.active .logo_content .logo {
  opacity: 1;
}
.logo_content .logo {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}
.logo_content p {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Helvetica";
  margin-top: 1.1rem;
}
.logo_content a:hover {
  text-decoration: none;
}
/* .logo_content .logo i{
    font-size: 2.8rem;
    margin: 0 1rem;
  }
  .logo_content .logo .logo_name{
    font-size: 2.4rem;
    font-weight: 400;
  } */
/* This Button in Navbar👇 */
#btn {
  position: absolute;
  color: #1e4b6c;
  left: 0;
  top: 17%;
  margin-left: 8rem;
  font-size: 2.4rem;
  height: 3.5rem;
  width: 4rem;
  padding: 0.25rem 0.75rem;
  text-align: center;
  transform: translateX(-80%);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  z-index: 1;
}
.sidebar-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}
#btn.moveLeft {
  left: 50px;
}
@media (max-width: 1250px) {
  #btn {
    top: 17%;
    left: 0;
  }
  #btn.moveLeft {
    left: 0;
    margin-left: 16rem;
  }
}
@media (max-width: 991px) {
  #btn {
    top: 26px;
    left: -4%;
  }
  #btn.moveLeft {
    left: 0;
    margin-left: 18rem;
  }
}
@media (max-width: 768px) {
  #btn {
    top: 26px;
    left: -5%;
  }
  #btn.moveLeft {
    left: 0;
    margin-left: 19rem;
  }
}
@media (max-width: 576px) {
  #btn {
    top: 10px;
    left: -5%;
  }
  #btn.moveLeft {
    left: 0;
    margin-left: 24rem;
  }
}
/* Navbar Button Control Sidebar 👆*/
.sidebar ul {
  margin-top: 2rem;
}
.sidebar ul li {
  position: relative;
  height: 5rem;
  width: 100%;
  margin: 0.5rem 0.5rem;
  list-style: none;
  line-height: 5rem;
}
@media (max-width: 576px) {
  .sidebar ul li {
    position: relative;
    height: 5rem;
    width: 95%;
    margin: 0.5rem 0.5rem;
    list-style: none;
    line-height: 5rem;
  }
}
/* .sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 4rem;
    width: 13rem;
    font-size: 1.6rem;
    background: #fff;
    line-height: 3.5rem;
    text-align: center;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
  }
  .sidebar.active ul li .tooltip{
    display: none;
  }
  .sidebar ul li:hover .tooltip{
    display: block;
    transition: all 0.3s ease;
    top: 50%;
    left: 120%;
    opacity: 1;
    z-index: 100000;
    overflow: visible;
  } */

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #dcf0fe;
  padding-left: 5rem;
  font-size: 1.8rem;
  color: #1e4b6c;
}
.sidebar ul li input::placeholder {
  color: #1e4b6c;
}
.sidebar ul li .bx-search {
  color: #1e4b6c;
  font-size: 2.2rem;
  z-index: 99;
}
.sidebar ul li .bx-search:hover {
  background: #fff;
  color: #1e4b6c;
}
.sidebar ul li a {
  color: #1e4b6c;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 12px;
  border: 0px;
  border-color: transparent;
  font-size: 1.6rem;
}
.sidebar ul li a:hover {
  background: #dcf0fe;
}
.sidebar ul li a span {
  font-size: 1.6rem;
}
.sidebar ul li a i {
  height: 5rem;
  min-width: 5rem;
  border-radius: 12px;
  line-height: 5rem;
  font-size: 2rem;
  text-align: center;
}
/* dropDown */
/* DropDown Animation */
.sidebar ul .dropdown .dropdown-menus {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  padding-left: 1rem;
}
.sidebar ul .dropdown .dropdown-menus a {
  font-size: 1.4rem;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-250%);
}
.sidebar ul .dropdown .dropdown-menus a.active {
  font-size: 1.4rem;
  opacity: 1;
  overflow: visible;
  transform: translateY(0%);
}
.sidebar ul .dropdown .dropdown-menus a:hover {
  background: #dcf0fe;
}
.sidebar ul .dropdown .dropdown-menus a span {
  font-size: 1.4rem;
}
.sidebar .copyright {
  color: #1e4b6c;
  font-size: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 47%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

/* .dropdown-sidebar > .link:focus,
.link:hover {
  color: #1e4b6c;
  background: #dcf0fe;
}
.dropdown-menu_custom {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #fff;
  padding: 10rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.15s ease-in-out;
}
.sidebar ul .dropdown-sidebar .dropdown-menu_custom .dropdown-menu {
  position: absolute;
  left: 0;
  top: 0;
}
.dropdown-sidebar .dropdown-menu_custom.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}
.dropdown-sidebar > .link:focus + .dropdown-menu_custom {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
} */
